body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

header 
{
    position:fixed;
    width:100%;
    background-color: #8a5c71;
    padding: 1rem;
    z-index: 10;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1%;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main{
    padding: 2rem;
}

section{
    margin-bottom: 2rem;
    color: black;
    font-family: 'Lucida Sans';
}

.introductions{
color: black;
text-align: left;
}

.introductions h1{
    position:relative;
    color: black;
    text-align: left;
    left:10%;
    top:5%;
    width:fit-content;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 300%
}

.introductions img
{
    position:absolute;
    top:0.1%;
    width:fit-content;
}

.logo{
    margin-top: 3%;
    float: left;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    margin-right: 30%;
    margin-bottom: 40%;
}
.aboutanimal1 p{
     position:absolute;
    font-size: 150%;
}
.aboutanimal1 img{
    position: relative;
    left: 72%;
    border-radius: 20%;
}
.aboutanimal2 p{
    position: absolute;
    font-size: 150%;
}
.aboutanimal2 img{
    position: relative;
    left: 72%;
    border-radius: 20%;
}
footer {
    position: fixed;
    background-color: #8a5c71;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1rem;
    bottom: 0%;
}

